body{
    display:grid;
	margin: 0px;
    font-family: 'Archivo','Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background: #272729;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* HEADER */
@media screen and (max-width: 620px){
    header { display: none; }
  }
header{
    position: fixed;
    background: #272729;
    top: 0;
    right:0;
    left:0;
    z-index: 1;
    border-bottom:none;
    padding: 10px;
    height: 95px;
}
#header-icons{
    margin: 10px 100px;
    display: flex;
    justify-content: space-between;
}

#login-icon {
    font-size:2em;
    position: relative;
    top: 15px;
}

#logout-icon {
    font-size:2em;
    position: relative;
    top: 15px;
}
.LoginForm {
    height: 50px;
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

a {
	outline: none;
	color: #aaa;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
}


main{
    display:grid;
    flex-direction: column;
    grid-template-columns: 600px 300px;
    column-gap: 2em;
    border: none;
    margin: 100px auto;
}
option .hidden{
    display:none;
}