
  /* WELCOME CARD SEATING */

  @font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('https://tympanus.net/fonts/codropsicons/codropsicons.eot');
	src:url('https://tympanus.net/fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('https://tympanus.net/fonts/codropsicons/codropsicons.woff') format('woff'),
		url('https://tympanus.net/fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('https://tympanus.net/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

/* GENERAL TAB LAYOUT CONTAINER*/
.layout {
    -ms-transform-origin: center top 0px;
    transform-origin: center top 0px
}
/* individual seat */
.layout__seat {
    border: solid 1px #f1f1f1;
    border-radius: 20%;
    color: #f1f1f1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 17px;
    height: 60px;
    font-family: inherit;
    background-color: rgba(39,39,41,1);
    width: 80px;
    margin:20px;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
}
/*-------------------------------------------------------------------------------------------*/

.layout__seat:focus:not(.layout__seat--unavailable),.layout__seat:hover:not(.layout__seat--unavailable) {
    transition: .125s;
    border: solid 2px #7F9BA1
}

.layout__seat:focus:not(.layout__seat--unavailable) svg,.layout__seat:hover:not(.layout__seat--unavailable) svg {
    fill: #7F9BA1;
    transition: .125s
}

.layout__seat.layout__seat--unavailable {
    background-color: #aaa;
    border: solid 2px #aaa;
    cursor: default
}

.layout__seat.layout__seat--selected {
    background: #e51937;
    border-color: #e51937;
    color: white;
    transition: .125s
}

.layout__seat.layout__seat--selected:hover {
    background-color: #941023;
    border-color: #941023
}

.layout__seat--empty-space {
    visibility: hidden
}
/* SEATING LAYOUT */
.layout__grid {
    display: -ms-flexbox;
	display: flex;
	column-gap: 5px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 0
}
/*-------------------------------------------------------------------------------------------*/
.layout__row {
    margin: 16px;
    outline: 0
}

.layout__row:focus .layout__seat:not(.layout__seat--unavailable) {
    border: solid 2px #7F9BA1;
}


.layout__column {
    margin: 0 4px;
}

.layout__seat__icon {
    width: 40%
}
#seat-counter{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6em;
    position: relative;
    left:260px;
    top:10px;
    font-weight: 400;
}
#Welcome h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    position: relative;
    left:210px;
    top:20px;
    color:#98B9C1;
}